body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

.button {
  background-color: #007bff;
  color: #150101;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin: 10px;
  display: inline-block;
}

.button1 {
  background-color: #088d1c;
  color: #150101;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 50px;
  margin: 20px;
  display: inline-block;
}
.button3 {
  background-color: #06aff7;
  color: #150101;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 1px;
  margin: 20px;
  display: inline-block;
}

.button2 {
  background-color: #f22020;
  color: #150101;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 50px;
  margin: 20px;
  display: inline-block;
}
.button4 {
  background-color: #06aff7;
  color: #150101;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 1px;
  margin: 20px;
  display: inline-block;
}
.button5 {
  background-color: #06c53c;
  color: #150101;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 1px;
  margin: 20px;
  display: inline-block;
}
.button6 {
  background-color: #06c53c;
  color: #150101;
  padding: 3px 3px;
  text-decoration: none;
  border-radius: 1px;
  margin: 5px;
  display: inline-block;
}

.button:hover {
  background-color: #0056b3;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 15px;
}

nav a:hover {
  color: #ccc;
}


.login-container {
  max-width: 400px;
  margin: 50px auto;
  background-color: #ec0707;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-container h2 {
  margin-bottom: 20px;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-container button {
  background-color: #007bff;
  color: #0a0000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #0056b3;
}

.error {
  color: #ff0000;
  margin-bottom: 15px;
}


.button {
  background-color: #06aff7;
  color: #0c0101;
  padding: 10px 20px;
  border-radius: 5px;
  margin-right: 10px;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3;
}

.bg-gray-800 {
  background-color: #2d3748;
}

.text-white {
  color: #ffffff;
}

.mr-2 {
  margin-right: 8px;
}

.mr-4 {
  margin-right: 16px;
}

.p-4 {
  padding: 16px;
}


